*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:monospace;
    font-weight:bolder
}

body{
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    background:#b366ff;
}
.wrapper{
    width:450px;
    padding:30px;
    background:#fff;
    border-radius:9px;
    height:288px;
    transition:height 0.2s ease;
}
.wrapper .upload-box{
    height:225px;
    display:flex;
    align-items:center;
    cursor:pointer;
    justify-content:center;
    flex-direction:column;
    border-radius:5px;
    border:2px dashed #afafaf;
}
.upload-box p{
    font-size:1.06rem;
    margin-top:20px;
}

.wrapper .content{
    margin-top:28px;
    opacity:0;
    pointer-events:none;
}
.wrapper.active{
    height:488px;
}
.wrapper.active .content{
    opacity:1;
    pointer-events:auto;
    transition: opacity 0.5s 0.05s ease;
   
}
.content .row{
    display:flex;
    justify-content:space-between;
}
.content .row .column{
   width:calc(100% /2 - 15px);
}
.row .column label{
    font-size:1.06rem;
}
.sizes .column input{
    width:100%;
    height:40px;
    padding:0 15px;
    margin-top:7px;
    font-size: 1.06rem;
    outline:none;
    border-radius:4px;
    border:1px solid #aaa;
}

.sizes .column input:focus{
    padding:0 14px;
    border:2px solid #927DFC;
}

.content .checkbox{
    margin-top:17px;
}
.checkbox .column{
    display:flex;
    align-items:center;
}
.checkbox .column input{
    width:15px;
    height:15px;
    margin:6px;
    accent-color:#927DFC;
}
.wrapper.active .upload-box{
    border:none;
}
.wrapper.active .upload-box img{
    width:100%;
    height:100%;
    object-fit:fit;
    border-radius:5px;
}
.wrapper.active .upload-box p{
    display:none;
}
.content .download-btn{
    width:100%;
    color:#fff;
    outline:none;
    border:none;
    padding:15px;
    font-size:1.3rem;
    cursor:pointer;
    background:#b366ff;
    border-radius:5px;
    margin:30px 0 10px;
}
